/**
 * Basic styling
 */

body {
    font-family: $base-font-family;
    font-weight: 400;
    letter-spacing: -0.36px;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, .demo-container {
  font-family: Avenir Next, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p {
  letter-spacing: -0.36px;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
