<div class="post-header-container clocks single local bounce">
  <article class="clock ios7">
    <span class="extrude1">
      <section class="hours-container">
        <section class="hours angled"></section>
      </section>
    </span>
    <span class="extrude2">
      <section class="minutes-container">
        <section class="minutes angled"></section>
      </section>
    </span>
    <span class="extrude3">
      <section class="seconds-container">
        <section class="seconds"></section>
      </section>
    </span>
  </article>
</div>
