.single-quote {
  display: flex;
  align-items: center;
  margin: 2em auto;
  max-width: 38em;
  position: relative;
}

.single-quote-person {
  background-size: 100%;
  border-radius: 50%;
  box-shadow: $box-shadow;
  height: 8em;
  margin-right: 2em;
  min-width: 8em;
  width: 8em;
}

.single-quotee {
  display: block;
}