<div class="email-signup" id="email-signup">
  <h2>CSS Animation updates</h2>
  <form action="//hop.us7.list-manage.com/subscribe/post?u=07ab661c8a6f6b3ec4c98c791&amp;id=169820d65d" method="post" class="validate" target="_blank" novalidate>
    <section class="row">
      <section class="centered">
        <input type="email" value="" placeholder="Your email" name="EMAIL" class="email">
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_07ab661c8a6f6b3ec4c98c791_7daf5f7db7" value=""></div>
        <input type="submit" value="Add me" name="subscribe" class="button">
      </section>
    </section>
  </form>
  <p>Get the latest updates and tips by email<br>
  Sign up and I'll let you know every time I publish a new article.</p>
</div>
