<footer class="footer">
  <section class="container">
    <section class="row">
      <section class="twelve columns">
        <h2>CSS Animation Weekly</h2>
      <p>A curated weekly roundup of all the latest in web animation. <br>Sign up now to get your FREE book, CSS Animation 101!</p>
        <div class="email-signup" id="email-signup">
          <form action="https://hop.us7.list-manage.com/subscribe/post?u=07ab661c8a6f6b3ec4c98c791&amp;id=169820d65d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_07ab661c8a6f6b3ec4c98c791_169820d65d" tabindex="-1" value=""></div>
            <section class="row">
              <section class="centered">
                <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
              </section>
            </section>
          </form>
        </div>
      </section>
      <p>
        <a href="https://twitter.com/cssanimation">Follow on Twitter</a>
        •
        <a href="mailto:hello@cssanimation.rocks">Get in touch</a>
        •
        <a href="/courses/">CSS Courses</a>
      </p>
    </section>
    <section class="row" style="text-align: center">
      <p>
        {% for language in site.data.languages %}
          {% unless forloop.first %} | {% endunless %}
          <a href="/{{ language.iso }}/">{{ language.name }}</a>
        {% endfor %}
      </p>
    </section>
    <section class="row">
      <p>&copy; CSS Animation. Site by <a href="http://hop.ie">Donovan</a></p>
    </section>
  </section>
</footer>
<script src='//code.jquery.com/jquery-2.1.3.min.js'></script>
<script src='/javascript/site.js'></script>
<script src="/javascript/vendor/wow.min.js"></script>
{% if page.externalJS %}
  {% for jsURL in page.externalJS %}
    <script src='{{ jsURL }}'></script>
  {% endfor %}
{% endif %}
{% if page.extraJS %}
  {% for jsURL in page.extraJS %}
    <script src='/javascript/{{ jsURL }}'></script>
  {% endfor %}
{% endif %}
{% if page.customJS %}<script src='/javascript/custom/{{ page.customJS }}'></script>{% endif %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
 new WOW().init();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-3481417-30', 'auto');
  ga('send', 'pageview');
</script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<!-- Service worker stuff -->
<script>
  // if ('serviceWorker' in navigator) {
  //   navigator.serviceWorker.register('/serviceworker.js', {scope: './'});
  // }
</script>




