<div class="email-signup" id="email-signup" style="max-width: 500px;margin: 0 auto">
  <h2>CSS Animation Weekly</h2>
  <p>The latest tutorials and inspiration every week!</p>
  <iframe src="https://embeds.beehiiv.com/5c8b2503-5d81-4b56-8dd8-da3a39a1d3be?slim=true" data-test-id="beehiiv-embed" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
</div>


<footer class="footer">
  <section class="container">
    <section class="row">
      <p>
        <a href="mailto:hello@cssanimation.rocks">Get in touch</a>
        •
        <a href="/courses/">CSS Courses</a>
      </p>
    </section>
    <section class="row" style="text-align: center">
      <p>
        {% for language in site.data.languages %} {% unless forloop.first %} |
        {% endunless %}
        <a href="/{{ language.iso }}/">{{ language.name }}</a>
        {% endfor %}
      </p>
    </section>
    <section class="row">
      <p>&copy; CSS Animation. Site by <a href="http://hop.ie">Donovan</a></p>
    </section>
  </section>
</footer>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/javascript/site.js"></script>
<script src="/javascript/vendor/wow.min.js"></script>
{% if page.externalJS %} {% for jsURL in page.externalJS %}
<script src="{{ jsURL }}"></script>
{% endfor %} {% endif %} {% if page.extraJS %} {% for jsURL in page.extraJS %}
<script src="/javascript/{{ jsURL }}"></script>
{% endfor %} {% endif %} {% if page.customJS %}<script src="/javascript/custom/{{
    page.customJS
  }}"></script
>{% endif %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  new WOW().init();
</script>
<script>
  (function(i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    (i[r] =
      i[r] ||
      function() {
        (i[r].q = i[r].q || []).push(arguments);
      }),
      (i[r].l = 1 * new Date());
    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(
    window,
    document,
    "script",
    "//www.google-analytics.com/analytics.js",
    "ga"
  );
  ga("create", "UA-3481417-30", "auto");
  ga("send", "pageview");
</script>
<script>
  window.twttr = (function(d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  })(document, "script", "twitter-wjs");
</script>

<!-- Service worker stuff -->
<script>
  // if ('serviceWorker' in navigator) {
  //   navigator.serviceWorker.register('/serviceworker.js', {scope: './'});
  // }
</script>
