<footer class="footer">
  <section class="container">
    <section class="row">
      <section class="twelve columns">
        {% include email-signup.html %}
      </section>
      <ul class="icons">
        <!--<li><a class="footer-icon" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>-->
        <li>
          <a class="follow-button" href="https://twitter.com/cssanimation">
            <span class="icon icon--twitter">
              <svg viewBox="0 0 16 16">
                <path d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
                c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z">
              </svg>
            </span>
            @cssanimation
          </a>
        </li>
      </ul>
    </section>
    <section class="row" style="text-align: center">
      <p>CSS Animation is now available in more languages! Read CSS Animation articles in:
      <br>
      {% for language in site.data.languages %}
        {% unless forloop.first %} | {% endunless %}
        <a href="/{{ language.iso }}/">{{ language.name }} ({{ language.english_name }})</a>
      {% endfor %}
      <p>Want to help? Press the "Translate this" link on any article to get started.</p>
    </section>
    <section class="row" style="text-align: center">
      <p>
        <a href="/">Home</a> |
        <a href="/courses/">CSS Courses</a> |
        <a href="mailto:hello@cssanimation.rocks">hello@cssanimation.rocks</a>
      </p>
    </section>
    <section class="row">
      <p>&copy; CSS Animation. Site by <a href="http://hop.ie">Donovan</a></p>
    </section>
  </section>
</footer>
<script src='//code.jquery.com/jquery-2.1.3.min.js'></script>
<script src='/javascript/site.js'></script>
<script src="/javascript/vendor/wow.min.js"></script>
{% if page.externalJS %}
  {% for jsURL in page.externalJS %}
    <script src='{{ jsURL }}'></script>
  {% endfor %}
{% endif %}
{% if page.extraJS %}
  {% for jsURL in page.extraJS %}
    <script src='/javascript/{{ jsURL }}'></script>
  {% endfor %}
{% endif %}
{% if page.customJS %}<script src='/javascript/custom/{{ page.customJS }}'></script>{% endif %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
 new WOW().init();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-3481417-30', 'auto');
  ga('send', 'pageview');
</script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<!-- Service worker stuff -->
<script>
  if ('serviceWorker' in navigator) {
    // Override the default scope of '/' with './', so that the registration applies
    // to the current directory and everything underneath it.
    navigator.serviceWorker.register('sw.js', {scope: './'}).then(function(registration) {
      // At this point, registration has taken place.
      // The service worker will not handle requests until this page and any
      // other instances of this page (in other tabs, etc.) have been
      // closed/reloaded.

    }).catch(function(error) {
      // Something went wrong during registration. The service-worker.js file
      // might be unavailable or contain a syntax error.

    });
  } else {
    // The current browser doesn't support service workers.

  }
</script>




