@charset "utf-8";

// Our variables
$base-font-family: 'Varela Round', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$alternate-font-family: 'Days One', Helvetica, Arial, sans-serif;

$spacing-unit:     30px;

$text-color:       #2E2729;
$background-color: lighten(#F8E9E1, 4%);
$brand-color:      #1EAEDB;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    940px;

$on-palm:          600px;
$on-laptop:        800px;

%bordered {
  border: 2px solid rgba($brand-color, 0.8);
  border-radius: .5em;
}

@import
  "vendor/normalize",
  "vendor/skeleton",
  "vendor/syntax-highlighting",
  "base",
  "layout",
  "text",
  "components/all",
  "pages/all"
;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
