// Styles specific to the course level-up page
$box-shadow: 0 2px 4px 0 rgba(31,0,33,0.50);
$animation-duration: 5s;
$highlight-color: #38b449;

$bezier-snappy: cubic-bezier(0,.86,.3,1);
$bezier-bouncy: cubic-bezier(1,-0.74,0,1.48);
$bezier-sharp: cubic-bezier(.21,.91,.39,.99);
$bezier-luxurious: cubic-bezier(.77,0,.35,1);

.post-header {
  height: auto;
}

.hero-container {
  font-size: 16px;
  height: 100vh;
  width: 100%;
  max-height: 62em;
  min-height: 32em;
  text-align: center;
  position: relative;
  background-image: linear-gradient(157deg, #FFD17C 4%, #E77FE9 96%);
  h1 {
    font-size: 8em;
    margin: 0;
  }
  h2 {
    font-size: 4.5em;
    margin: 0;
  }
  h3 {
    font-size: 1.5em;
    text-transform: uppercase;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0) 30%, rgba(255,255,255,1));
  }
  &:after {
    background-image: linear-gradient(-180deg, rgba(255,255,255,0) 90%, rgba(255,255,255,1));
  }
}

.animation-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 1400px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.animation-pages-container {
  height: 40em;
  margin: 0 auto;
  max-width: 420em;
  pointer-events: none;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateY(31deg) rotateX(50deg) rotateZ(-5deg) scale(1) translate(0, 5em);
  width: 220%;
}

.animation-parts-page {
  animation: add-page .4s 1.5s $bezier-sharp forwards;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 7%, rgba(255,255,255,0) 100%);
  height: 42em;
  margin: 0 2em;
  opacity: 0;
  padding: 1em 0;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 2.5s cubic-bezier(.43,0,.31,1);
  width: 24em;

  &:nth-child(1) {
    left: -28em;
  }

  &:nth-child(2) {
    left: 0;
  }

  &:nth-child(3) {
    left: 28em;
  }

  &:nth-child(4) {
    left: 56em;
  }

  &:nth-child(5) {
    left: 84em;
  }

  &:nth-child(6) {
    left: 112em;
  }
  &.initial-load {
    animation: add-page-initial 1s .5s $bezier-luxurious forwards;
    .box1 {animation-delay: .4s;}
    .box2 {animation-delay: .6s;}
    .box3 {animation-delay: .8s;}
    .box4 {animation-delay: 1s;}
  }
  &.removing {
    animation: remove-page .6s ease-out forwards;
    opacity: .8;
  }

  .box {
    animation: add-box .5s $bezier-bouncy forwards;
    opacity: 0;
    background: rgba(255,255,255,.7);
  }
  .box1 {
    animation-delay: 2s;
    width: 90%;
    height: 20%;
    margin: 2.5% auto;
  }
  .box2 {
    animation-delay: 2.5s;
    width: 40%;
    height: 10%;
    margin: 2.5% auto;
  }
  .box3 {
    animation-delay: 3s;
    width: 90%;
    height: 40%;
    margin: 2.5% auto;
  }
  .box4 {
    animation-delay: 3.5s;
    width: 90%;
    height: 20%;
    margin: 2.5% auto;
  }
}
// KEYFRAMES

// Hero animation

@keyframes add-page {
  0% {
    transform: translateY(10em) translateZ(10em) rotateZ(20deg);
    opacity: 0;
  }
  30% {
    opacity: .8;
  }
  100% {
    transform: none;
    opacity: .8;
  }
}

@keyframes add-page-initial {
  0% {
    transform: translateZ(-10em);
    opacity: 0;
  }
  30% {
    opacity: .8;
  }
  100% {
    transform: none;
    opacity: .8;
  }
}

@keyframes remove-page {
  0% {
    transform: none;
    opacity: .8;
  }
  100% {
    transform: translateZ(-10em) rotateZ(-45deg) scale(.3);
    opacity: 0;
  }
}

@keyframes add-box {
  0% {
    opacity: 0;
    transform: translateY(-.25em) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

// Course title animation


// Video bubbles
.video-bubble {
  animation: video-bubble 14s linear forwards;
  background-size: cover;
  box-shadow: $box-shadow;
  height: 7em;
  width: 12.5em;
  position: absolute;
  top: 0;
}

@keyframes video-bubble {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: none;
  }
}

// General purpose
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(.5em);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.cssanimations .wow {
  opacity: 0;
}

.cssanimations .wow.fade-up {
  animation: fade-up 1s .2s $bezier-luxurious forwards;
}

.cssanimations .wow.delayed {
  animation-delay: 2s;
}

.course-title-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.course-title {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.intro-video-container {
  perspective: 800px;
  position: relative;
  transform-style: preserve3d;
}

.intro-video {
  background-color: #eee;
  box-shadow: $box-shadow;
  font-size: 16px;
  height: 16.975em;
  left: 1em;
  position: absolute;
  top: 4em;
  transform: rotateY(-10deg) rotateX(20deg) rotateZ(-2deg);
  width: 30em;
}

.structure {
  margin: 0 0 2em;

  ul {
    margin: 0 0 2em;
    padding: 0;

  }
  li {
    list-style: none;
    padding: 0;

    h3 {
      font-size: 18px;
      margin: 1em 0 .5em;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
    .number {
      color: rgba(0,36,96,0.41);
    }
  }
}

.structure-columns {
  display: flex;
  width: 100%;
}

.structure-column {
  position: relative;
  width: 33.33%;
  padding: 1em;
}

.single-quote {
  &.animated {
    .single-quote-person {
      animation: show-person 1s 1s $bezier-luxurious forwards;
      opacity: 0;
    }
    .single-quote-text-container {
      animation: fade-up 1s 1.5s $bezier-luxurious forwards;
      opacity: 0;
    }
  }
}

@keyframes show-person {
  0% {
    transform: rotateY(-45deg) translateY(.5em);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.offers {
  margin: 4em 0;
}

.offer {
  text-align: center;
  position: relative;
  transform: scale(.95);
  backface-visibility: hidden;

  h2 {
    font-size: 2.4rem;
    margin-bottom: 0;
  }
  h5 {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0px;
    margin: 4rem 0 1rem;
  }
  .price {
    font-size: 3.6rem;
    font-weight: 700;
  }
  li {
    list-style: none;
    font-size: 1.4rem;
  }
  .buy-button {
    background: #FFA200;
    box-shadow: $box-shadow;
    color: #00194E;
    display: block;
    font-size: 2.6rem;
    height: 10rem;
    letter-spacing: -0.65px;
    line-height: 10rem;
    margin: 0 auto;
    width: 28rem;
    transition: all .5s $bezier-snappy;
    backface-visibility: hidden;

    &:hover {
      transform: scale(1.15);
    }
  }
  .special-buy-button-container {
    box-shadow: $box-shadow;
    height: 10rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    transition: all .5s $bezier-snappy;
    width: 28rem;

    &:hover {
      transform: scale(1.15);
    }
  }
}

.special-message {
  background: #fff;
  box-shadow: $box-shadow;
  max-width: 34em;
  width: 100%;
  margin: 2em auto -12em;
  padding: 2em 2em 1em;
}

footer {
  padding-top: 14em;
  margin-top: 0;
}

.offer.most-popular {
  transform: scale(1);
}

.most-popular-callout {
  font-size: 1.2rem;
  position: absolute;
  top: -4rem;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.most-popular .buy-button {
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  &:before {
    content: "";
    position: absolute;
    width: 28rem;
    height: 28rem;
    background: rgba(255,255,255,.5);
    transform: translateX(16rem) translateY(-17rem) rotateZ(-45deg);
    transition: all .6s $bezier-snappy;
  }
  &:after {
    content: "";
    position: absolute;
     width: 28rem;
    height: 28rem;
    background: rgba(255,255,255,.25);
    transform: translateX(2rem) translateY(-17rem) rotateZ(-45deg);
    transition: all .7s $bezier-snappy;
  }

  &:hover {
    transform: none;

    &:before {
      transform: translateX(18rem) translateY(-17rem) rotateZ(-45deg);
    }
    &:after {
      transform: translateX(3rem) translateY(-17rem) rotateZ(-45deg);
    }
  }
}

.background-2 {
  background-image: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0.2) 60%),
                    linear-gradient(157deg, #FFD17C 20%, #E77FE9 96%);
}

.quotes-carousel {
  position: relative;
  min-height: 45rem;
  width: 100%;

  .quote {
    cursor: pointer;
    left: 50%;
    margin: 2rem 0;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(.6);
    transition: transform 1s $bezier-luxurious, opacity .5s ease-out;

    &.previous {
      transform: translate(calc(-50% - 36rem), -50%) scale(.8);
      opacity: .5;
      transition: transform 1s $bezier-luxurious, opacity 1s .4s ease-out;
    }

    &.current {
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &.next {
      transform: translate(calc(-50% + 36rem), -50%) scale(.8);
      opacity: .5;
      transition: transform 1s $bezier-luxurious, opacity 1s .4s ease-out;
    }
  }
}

@media (max-width: 550px) {
  .demo-container.clocks.single .clock, .badge {
    font-size: 12px;
  }
}