<div class="hero-image-container">
  <div class="window-background"></div>
  <div class="moon"></div>
  <img class="hero-image" src="/images/courses/animation_101/animation_101.svg" alt="Daily emails animation">
  <div class="screen-container"></div>
  <div class="notification"></div>
</div>
<!--[if IE]>
<style>
  .hero-image-container * {
    display: none;
  }
  .hero-image-container {
    background: url(/images/courses/animation_101/fallback.png) no-repeat;
    background-size: cover;
  }
</style>
<![endif]-->
