<section class="demo-container container">
  <div class="portal">
    <section class="stage">
      <div class="shadow"></div>
      <div class="back-left"></div>
      <div class="back-right"></div>
      <div class="platform-left"><span></span></div>
      <div class="platform-right"><span></span></div>
      <div class="pit-left"></div>
      <div class="pit-right"></div>
      <div class="pit-back"></div>
      <div class="door"></div>
      <div class="portal red"></div>
      <div class="portal blue"></div>
      <div class="person one">
        <figure class="head"></figure>
        <figure class="body"></figure>
        <div class="person-shadow one">
          <figure class="head"></figure>
          <figure class="body"></figure>
        </div>
      </div>
      <div class="person two">
        <figure class="head"></figure>
        <figure class="body"></figure>
        <figure class="arm left"></figure>
        <figure class="arm right"></figure>
        <div class="person-shadow two">
          <figure class="head"></figure>
          <figure class="body"></figure>
          <figure class="arm left"></figure>
          <figure class="arm right"></figure>
        </div>
      </div>
    </section>
  </div>
</section>
<section class="fallback"></section>
