<div class="post-header-container">
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <article class="earth-demo">
    <div class="earth">
      <div class="more-info">
        <h1>Earth</h1>
        <ul>
          <li>Third planet from the Sun</li>
          <li>Atmosphere: 21% oxygen</li>
          <li>Liquid water on surface</li>
          <li>Only planet that has life (that we know of)</li>
        </ul>
      </div>
      <img src="https://cssanimation.rocks/images/random/earth.png">
    </div>
    <div class="moon-container">
      <div class="demo-moon">
        <img src="https://cssanimation.rocks/images/random/moon.png">
      </div>
    </div>
  </article>
</div>

