<div class="post-header-container spheres">
  <div class="eye-holder">
    <figure class="ball eye">
      <span class="shadow"></span>
      <span class="iris"></span>
    </figure>
  </div>
  <div class="bubble-holder one">
    <div class="bubble-rotate-offset">
      <figure class="ball bubble"></figure>
    </div>
  </div>
  <div class="bubble-holder two">
    <div class="bubble-rotate-offset">
      <figure class="ball bubble"></figure>
    </div>
  </div>
  <div class="bubble-holder three">
    <div class="bubble-rotate-offset">
      <figure class="ball bubble"></figure>
    </div>
  </div>
</div>
