@import "shiny_button.scss";

// Styling for the UL items also
.add-to-list {
  ul {
    transform-style: preserve-3d;
    perspective: 800px;
  }

  li {
    list-style: none;
    background: darken(#F8E9E1, 40%);
    border-top: 0 solid lighten(#F8E9E1, 4%);
    border-bottom: 0 solid lighten(#F8E9E1, 4%);
    color: #fff;
    height: 0;
    padding: 0 0.5em;
    overflow: hidden;
    line-height: 2em;
    margin: 0;
    position: relative;
    transform-origin: 5em 0em;
    transform: rotateX(-120deg);
    width: 10em;

    &.show {
      height: 2em;
      border-width: 2px;
      transform: rotateX(0);
      transition: all 0.4s cubic-bezier(.36,-0.64,.34,1.76);
    }

    &.hide {
      height: 0;
      border-width: 0;
      transform: rotateX(-140deg);
      transition: all 1s 0.75s cubic-bezier(.36,-0.64,.34,1.76);
    }
  }
}

// Logo overrides
.svg-logo {
  max-width: 260px;
}

.large-rock {
  animation: show-large-rock 0.3s 1s forwards linear;
  opacity: 0;
}

.small-rock-1 {
  animation: show-small-rock 0.4s 0.4s forwards linear;
  opacity: 0;
}

.small-rock-2 {
  animation: show-small-rock 0.4s .6s forwards linear;
  opacity: 0;
}


