.clock {
  border: 0.5em solid #000;
  border-radius: 50% !important;
  background: radial-gradient(#000, #000 0.1em, #fff 0.1em, #fff);
  position: relative;
  height: 12em;
  width: 12em;
}

.clock::before {
  animation: minutes 3600s infinite linear;
  content: "";
  background: #000;
  width: 4px;
  height: 5em;
  position: absolute;
  left: calc(50% - 2px);
  top: 1em;
  transform-origin: 2px 5em;
  transform: rotateZ(67deg);
}

.clock::after {
  animation: hours 43200s infinite linear;
  content: "";
  background: #000;
  width: 4px;
  height: 3em;
  position: absolute;
  left: calc(50% - 2px);
  top: 3em;
  transform-origin: 2px 3em;
  transform: rotateZ(-30deg);
}

.seconds {
  animation: seconds 60s infinite steps(60);
  background: red;
  width: 2px;
  height: 5em;
  position: absolute;
  left: calc(50% - 1px);
  top: 1em;
  transform-origin: 1px 5em;
  transform: rotateZ(10deg);
  z-index: 10;
}

@keyframes seconds {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes hours {
  0% {
    transform: rotateZ(35deg);
  }
  100% {
    transform: rotateZ(395deg);
  }
}

@keyframes hours {
  0% {
    transform: rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(315deg);
  }
}
