.shiny {
  $button-color: darken(#F8E9E1, 40%);

  button {
    background: $button-color;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 0.5em;
    padding: 0 1em;
    position: relative;
    overflow: hidden;
    line-height: 32px;
    transition: all 0.5s cubic-bezier(.67,-0.51,.42,1.43);
  }

  button:hover {
    border-color: $button-color;
    color: #fff;
    transform: scale(1.5) translateX(1.5em);
  }

  button:hover::after, .demo-container.active button::after {
    animation: sheen 1s 0.5s forwards;
  }

  button::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba($button-color, 0.1), rgba(255,255,255,0.5) 50%, rgba($button-color, 0.1));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

  button.visible {
    overflow: visible;
  }

  button:hover {
    cursor: pointer;
  }

}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
