---
layout: default
---

<section class="post-header">
  <section class="logo">
    <a href="/">
      <section class="svg-logo"><a href="/"><img src="/images/logo.svg" alt="CSS Animation"></a></section>
    </a>
  </section>
  {% if page.custom_header %}
    {% include {{ page.custom_header }} %}
  {% endif %}
  <div class="absolute-nav">
    {% include nav.html %}
  </div>
</section>

<section class="container page-content">

  <section class="row">
    <section class="twelve columns">
      {{ content }}
    </section>
  </section>

</section>
