---
layout: default
---

{% for language in site.data.languages %}
  {% if language.iso == page.language %}
    {% assign language_name = language.name %}
  {% endif %}
{% endfor %}

<section class="home wrapper">
  <section class="container">
    <section class="row">
      <section class="twelve columns">
        <a href="/" class="svg-logo"><img src="/images/rocky.svg" alt="CSS Animation"></a>
        {% include nav.html %}
      </section>
    </section>
    <section class="row wow fadeIn">
      <section class="twelve columns">
        <section class="flower-container">
          <section class="flower">
            <span class="part"></span>
            <span class="part"></span>
            <span class="part"></span>
            <span class="part"></span>
            <span class="part"></span>
            <span class="part"></span>
            <span class="part"></span>
            <span class="part"></span>
            <span class="part"></span>
            <span class="part"></span>
            <span class="part"></span>
            <span class="part"></span>
            <h1 style="font-size: 32px">CSS Animation Rocks: {{language_name}}</h1>
            <p>
              Back to the <a href="/">English version</a>
            </p>
          </section>
        </section>
      </section>
    </section>
    <section class="row wow fadeIn">
      <section class="twelve columns">
        <section class="post-container">
          {% for article in site.data.translations %}
            {% for article_language in article.translations %}
              {% if article_language.iso == page.language %}
                {% for post in site.posts %}
                  {% if post.url == article.url %}
                    <article class="post row">
                        <a class="image-link" href="/{{page.language}}{{article.url}}"><img src="{{ post.home_image }}"></a>
                        {% if article_language.postTitle %}
                          <h3><a class="post-link" href="/{{page.language}}{{article.url}}">{{ article_language.postTitle }}</a></h3>
                        {% else %}
                          <h3><a class="post-link" href="/{{page.language}}{{article.url}}">{{ post.language }}</a></h3>
                        {% endif %}
                    </article>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </section>
      </section>
    </section>
  </section>
</section>
