---
layout: default
---
<script>
fbq('trackCustom', 'Article opened');
</script>
{% if page.custom_header %}
  <section class="post-header">
{% else %}
  <section class="post-header shorter">
{% endif %}
    <section class="logo">
      <a href="/">
        <section class="svg-logo"><a href="/"><img src="/images/rocky.svg" alt="CSS Animation"></a></section>
      </a>
    </section>
    {% if page.custom_header %}
      <section class="demo">
        {% include {{ page.custom_header }} %}
      </section>
    {% endif %}
    <div class="absolute-nav">
      {% include nav.html %}
    </div>
  </section>
<section class="container page-content">
  <section class="row">
    <article class="post-content nine columns {% if page.rtl %}rtl{% endif %}">
      <h1 class="post-title">{{ page.title }}</h1>
      {{ content }}

      <section class="post-footer">
        <section class="quote-container">
          <section class="rocky">
            <img src="/images/rocky.svg">
          </section>
          <blockquote>
            <p>If you enjoyed this article, <a href="https://twitter.com/intent/tweet/?text={{page.tweet_text | escape}}&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | cgi_escape}}&via=cssanimation" target="_blank">share it</a>!</p>
          </blockquote>
        </section>
        <h3>Want to learn more about CSS animation?</h3>
        <article class="content-box wow bounceIn">
          <section class="course">
            <div class="course-image four columns">
              <a href="/courses/animation-101/"><img src="/images/courses/levelup/cover2.png" class="footer-signup-badge" alt="Level Up Your CSS Animation Skills"></a>
            </div>
            <div class="course-details eight columns">
              <h2><a href="http://courses.cssanimation.rocks/p/level-up">Level Up Your CSS Animation Skills</a></h2>
              <p>A practical video course applying the theory of CSS animation to a real project. Build the ultimate landing page!</p>
              <p><em>Enroll now and level up your CSS skills.</em></p>
              <p class="button"><a href="http://courses.cssanimation.rocks/p/level-up">I want this</a></p>
            </div>
            <span class="clearfix"></span>
          </section>
        </article>
      </section>
    </article>
    <aside class="post-aside three columns">
      {% if page.demo_url %}
        <section class="demo-link">
          <a href="{{page.demo_url}}" class="button primary-button">Demo</a>
        </section>
      {% endif %}

      <section class="course-sidebar wow bounceIn sidebox">
        <section class="course">
            <a href="/courses/animation-101/"><img src="/images/courses/levelup/cover2.png" style="height:109px" alt="Level Up Your CSS Animation Skills"></a>
            <h3><a href="http://courses.cssanimation.rocks/p/level-up">Level Up Your CSS Animation Skills</a></h3>
            <p>A practical video course applying the theory of CSS animation to a real project. Build the ultimate animated landing page!</p>
            <p class="button"><a href="http://courses.cssanimation.rocks/p/level-up" style="margin: 0 auto;font-style: normal;color: #fff">Enroll now</a></p>
          </div>
          <span class="clearfix"></span>
        </section>
      </section>
      <section class="sidebar-email-signup">
        <h4>CSS Animation Weekly</h4>
        <form action="//hop.us7.list-manage.com/subscribe/post?u=07ab661c8a6f6b3ec4c98c791&amp;id=169820d65d" method="post" class="validate" target="_blank" novalidate>
          <input type="email" value="" placeholder="Your email" name="EMAIL" class="email">
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_07ab661c8a6f6b3ec4c98c791_7daf5f7db7" value=""></div>
          <input type="submit" value="Add me" name="subscribe" class="button">
          <p>Weekly tutorials and inspiration in your inbox.</p>
        </form>
      </section>
      {% if page.translator %}
        <section class="translator">
          <h3>Translation Info</h3>
          <p>This article translated by <a href="{{ page.translator_link }}">{{ page.translator }}</a>. (<a href="/{{ page.url | split: '/' | last }}/">See original</a>)</p>
        </section>

      {% elsif page.translators %}
          <section class="translator">
            <h3>Translation Info</h3>
            <p>This article translated by:
              <ul>
                {% for translator in page.translators %}
                  <li><a href="{{ translator.url }}">{{ translator.name }}</a></li>
                {% endfor %}
              </ul>
            (<a href="{{ page.english_version }}">See original</a>)</p>
          </section>
      {% else %}

        {% if page.source %}
          <section class="translations" style="padding-top: 2em">
            <h3>Translations</h3>
            <p class="translation-message">CSS Animation articles are translated by our community - and you can too!</p>
            {% for article in site.data.translations %}
              {% if page.url == article.url %}
                <ul>
                {% for translation in article.translations %}
                  {% if translation.language %}

                    <li><a href="/{{ translation.iso }}{{page.url}}" hreflang="{{ translation.iso }}">{{ translation.language }}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
              <p class="translate"><a class="button" href="https://getnative.me/?ref=cssanimation&amp;lang=en&amp;url={{site.url}}{{page.url}}&amp;sourceURL={{page.source}}&amp;title={{ page.title | cgi_escape }}&amp;format=markdown-yaml-frontmatter">Translate this article</a></p>
              <p class="powered-by">Powered by <img src="/images/getnative.png" alt="native - Community powered translations"></p>
          </section>
        {% endif %}

      {% endif %}
      <!-- <section class="course-sidebar wow bounceIn">
        <h3>Enrolling now!</h3>
        <section class="course">
            <a href="/courses/animation-101/"><img src="/images/courses/animation_101/badge.svg" alt="CSS Animation 101"></a>
            <h3><a href="/courses/animation-101/">Animation 101</a></h3>
            <p>Learn the essentials of CSS animation with an email and a few minutes each day</p>
          </div>
          <span class="clearfix"></span>
        </section>
      </section> -->
    </aside>
  </section>
</section>
